@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");
body {
  background-color: #1c1c1c;
  color: white;
  font-family: "Kanit", sans-serif !important;
}

ul li {
  list-style-type: none;
}
ul a {
  text-decoration: none;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

p {
  line-height: 30px !important;
}

button {
  background: rgb(85, 197, 122);
  background: linear-gradient(
    90deg,
    rgba(85, 197, 122, 1) 60%,
    rgba(126, 213, 111, 1) 100%
  );
  border-radius: 5px 20px 20px 20px;
  color: white;
  padding: 20px 80px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}

.genres {
  display: flex !important;
}
.genres p {
  text-shadow: 1px 1px 30px #1c1c1c;
  margin-right: 10px;
  padding: 5px;
  color: white;
  border-radius: 5px 20px 20px 20px;
  background: rgb(85, 197, 122);
  background: linear-gradient(
    90deg,
    rgba(85, 197, 122, 1) 60%,
    rgba(126, 213, 111, 1) 100%
  );
}

form {
  display: flex;
  margin: 20px 0px 40px 0px;
}
input,
select {
  background: #222;
  border-radius: 20px 5px 20px 20px;
  color: white;
  padding: 20px 20px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  font-family: "Kanit", sans-serif;
}
::placeholder {
  color: white;
}
